* {
	box-sizing: border-box;
}
body {
	font-family: 'Abel', sans-serif;
	background-color: #e6e6e6;
}
a {
	color: black;
}
.last-col-text {
	font-family: 'Anton', sans-serif;
	font-size: xx-large;
}
.last-col-container {
	display: flex;
	flex-direction: column;
	height: 3em;
}
.last-col-row {

}
.top-background {
	height: 4.3rem;
	width: 100%;
	background-color: #f0f0f0;
	position: absolute;
	top: 2rem;
	z-index: -1;
}
.jumbotron {
	position: relative;
	background-color: #e6e6e6;
	font-family: 'Anton', sans-serif;
	bottom: 20px;
}
.circle {
	font-family: 'Anton', sans-serif;
	width: 121px;
	line-height: 105px;
	border: .5rem solid #f0f0f0;
	border-radius: 50%;
	text-align: center;
	color: #f0f0f0;
}
.small-circles {
	font-family: 'Anton', sans-serif;
	font-size: 10px;
	width: 18px;
	height: 18px;
	display: inline-block;
	border: 1px solid transparent;
	border-radius: 50%;
	text-align: center;
	/*padding: 5px;*/
}
.small-circle-text {
	line-height: 18px;
	text-align: center;
}
.circle-text {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}
.red-circle {
	background-color: #e6563b;
}
.small-red-circle {
	/*font-size: 10px;*/
}
.orange-circle {
	background-color: #dea03d;
}
.green-circle {
	background-color: #7cb06c;
}
.blue-circle {
	background-color: #00aba9;
}
.tablet-container {
	display: none;
}
.tablet-container-2 {
	display: none;
}
.tablet-view-circles {
	display: none;
}

.desktop-view{
	border: 5px solid rgba(240, 240, 240, 0.5);
	border-radius: 3%;

}

.mobile-view-nav {
	position: relative;
	bottom: 45px;
}
.desktop-nav-view {
	display: none;
}

.desktop-h5 {
	display: none;
}


@media screen and (min-width:576px) {
	.tablet-view-jumbotron {
		display: none;
	}
	.desktop-h5 {
		display: none;
	}


}

@media screen and (min-width:768px)  {
	.desktop-nav-view {
		display: none;
	}
	.desktop-h5 {
		display: none;
	}

	.mobile-view-nav {
		display: none;
	}
	.mobile-view-jumbotron {
		display: none;
	}
	.mobile-view-circles {
		display: none;
	}
	.tablet-view-nav {
		visibility: visible;
	}

	.tablet-container {
		display: flex;
		justify-content: space-evenly;
	}

	.tablet-container-2 {
		display: flex;
		justify-content: center;
	}

	.tablet-view-jumbotron {
		display: contents;
	}
	.tablet-view-circles {
		visibility: visible;
		display: flex;
		justify-content: center;
	}
	.tablet-circle {
		font-family: 'Anton', sans-serif;
		width: 130px;
		line-height: 121px;
		border: .5rem solid white;
		border-radius: 50%;
		text-align: center;
		color: #f0f0f0;
	}
	hr {
		width: 65%;
		height: 3.5px;
		background-color: lightgrey;
		border: none;
	}
}




@media screen and (min-width:900px) {


	.tablet-view-nav {
		display: none;
	}

	hr {
		width: 90%;
		height: 3.5px;
		background-color: lightgrey;
		border: none;
	}

	.last-col-container {
		height: 700px;
	}

	.desktop-nav-view {
		display: flex;
		justify-content: space-around;
		margin-top: 20px;
		margin-bottom: 20px;
		align-items: center;
		background-color: white;
		height: 65px;
		width: 100%;
	}
	.sub-dt-nav {
		display: flex;
		align-items: center;
	}
	.desktop-nav-items {
		display: flex;
	}
	.dt-nav-item-1 {
		margin: 7px;
	}

	.top-background {
		display: none;
	}

	.desktop-h2 {
		margin-left: 10px;
	}
	.tablet-view-nav {
		display: none;
	}
	.tablet-view-jumbotron {
		display: none;
	}
	.mobile-view-nav {
		display: none;
	}
	.mobile-view-circles {
		display: none;
	}
	.tablet-view-circles {
		visibility: visible;
		display: flex;
		justify-content: center;
	}
	.tablet-circle {
		font-family: 'Anton', sans-serif;
		width: 130px;
		line-height: 121px;
		border: .5rem solid white;
		border-radius: 50%;
		text-align: center;
		color: #f0f0f0;
	}
	#h5-remove-dt {
		display: none;
	}
	.desktop-h5 {
		display: flex;
		margin-bottom: 0;
		padding-top: 100px;
	}

	#selected-work {
		margin-right: auto;
	}
	#the-last {

		/*justify-content: flex-end;*/
	}
	/*.top-background-desktop {*/
	/*	height: 4.3rem;*/
	/*	width: 100%;*/
	/*	background-color: #f0f0f0;*/
	/*	position: absolute;*/
	/*	top: 2rem;*/
	/*	z-index: -1;*/
	/*}*/
}