body {
	font-family: 'Abel', sans-serif;
	background-color: #eae8e6;
}
a {
	color: black;
}

.top-background {
	height: 4.3rem;
	width: 100%;
	background-color: white;
	position: absolute;
	top: 2rem;
}
.jumbotron {
	background-color: #eae8e6;
	font-family: 'Bebas Neue', cursive;
}
.circle {
	font-family: 'Bebas Neue', cursive;
	width: 121px;
	line-height: 105px;
	border: .5rem solid white;
	border-radius: 50%;
	text-align: center;
}
.small-circles {
	font-family: 'Bebas Neue', cursive;
	font-size: 10px;
	width: 18px;
	height: 18px;
	display: inline-block;
	border: 1px solid transparent;
	border-radius: 50%;
	text-align: center;
	/*padding: 5px;*/
}
.small-circle-text {
	line-height: 18px;
	text-align: center;
}
.circle-text {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}
.red-circle {
	background-color: rgba(255, 0, 0, 0.69);
}
.small-red-circle {
	/*font-size: 10px;*/
}
.orange-circle {
	background-color: rgba(255, 165, 0, 0.66);
}
.green-circle {
	background-color: rgba(0, 128, 0, 0.51);
}
.blue-circle {
	background-color: #228d84;
}
.pic-caption {

}